@{
    ViewData["Title"] = "Importação de Excel";
}

@using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<label for="file">Upload Excel:</label>
<input type="file" name="file" id="file" />

<br>
<br>
<input type="submit" value="Import Excel" />
<br>
<br>

@ViewBag.Message
}

<hr />

@using (Html.BeginForm("GetAllImports", "Home", FormMethod.Get))
{
<input type="submit" value="GetAll" />
<br>
<br>
}

<hr />

@using (Html.BeginForm("GetImportById", "Home", FormMethod.Get))
{
<input type="text" name="id" />

<input type="submit" value="GetAll" />
<br>
<br>
}